<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <title></title>
  <meta charset="UTF-8" content="">
  <meta name="x-apple-disable-message-reformatting" content="">
  <meta content="telephone=no" name="format-detection">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&display=swap"/>
</head>
<body>
<div class="wrapper" style="text-align: center;">
  <table class="title">
    <tr>
      <td style="padding: 0 0 15px;">
        <h4>Chào {{ name }}</h4>
        <p>Dưới đây là mật khẩu vừa được thay đổi của bạn.</p>
        <p><b> {{ password }} </b></p><br>
        <p>Hãy đăng nhập vào ứng dụng để thay đổi lại mật khẩu.</p>
      </td>
    </tr>
  </table>
</div>
</body>
</html>